In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Dados_Atual/dados.csv', sep=';')
df

,Unnamed: 0,papel,tipo,empresa,setor,cotacao,dt_ult_cotacao,min_52_sem,max_52_sem,vol_med,...,ev_ebit,cres_rec,ativo,disponibilidades,ativo_circulante,divd_bruta,divd_liquida,patr_liquido,lucro_liquido_12m,lucro_liquido_3m
0,0,AALR3,ON NM,ALLIAR ON NM,Serv.Méd.Hospit. Análises e Diagnósticos,"9,07",15/01/2024,"7,55","24,30",1.505.320,...,85.76,3.5,2.748.190.000,294.614.000,620.452.000,1.051.380.000,756.769.000,1.015.110.000,-263.165.000,-51.762.000
1,1,ABCB4,PN N2,ABC Brasil PN N2,Intermediários Financeiros,"23,74",15/01/2024,"14,79","24,23",14.319.800,...,0.00,70.9,55.908.400.000,0,0,0,0,5.721.810.000,817.391.000,228.218.000
2,2,ABEV3,ON,AMBEV S/A ON,Bebidas,"13,59",15/01/2024,"11,77","14,89",317.925.000,...,11.77,13.2,137.914.000.000,17.641.100.000,37.552.700.000,3.717.670.000,-13.923.400.000,90.254.900.000,15.081.200.000,3.911.740.000
3,3,AERI3,ON NM,AERIS ON NM,Máquinas e Equipamentos,"0,87",15/01/2024,"0,77","1,66",5.569.980,...,7.15,10.4,3.821.650.000,743.647.000,2.586.440.000,1.767.180.000,1.023.530.000,815.079.000,-109.422.000,-28.694.000
4,4,AFLT3,ON,AFLUENTE T ON,Energia Elétrica,"7,87",12/01/2024,"7,11","10,50",4.005,...,16.77,29.4,312.768.000,11.967.000,61.643.000,185.000,-11.782.000,261.604.000,27.604.000,11.593.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,421,WHRL4,PN,WHIRLPOOL S.A. PN,Utilidades Domésticas,"4,45",12/01/2024,"3,79","4,79",111.659,...,9.10,13.0,9.490.660.000,2.060.140.000,6.786.700.000,1.420.670.000,-639.467.000,2.560.310.000,356.268.000,125.521.000
848,422,WLMM3,ON,WLM ON,Comércio,"22,53",11/01/2024,"19,19","27,85",1.638,...,5.71,22.6,825.600.000,100.421.000,463.339.000,8.925.000,-91.496.000,669.898.000,105.661.000,24.525.000
849,423,WLMM4,PN,WLM PN,Comércio,"28,00",12/01/2024,"14,79","39,68",14.737,...,7.27,22.6,825.600.000,100.421.000,463.339.000,8.925.000,-91.496.000,669.898.000,105.661.000,24.525.000
850,424,YDUQ3,ON,YDUQS PART ON,Diversos,"21,00",12/01/2024,"6,47","23,70",76.270.100,...,13.10,9.0,9.798.220.000,1.181.640.000,2.561.060.000,5.344.630.000,4.162.990.000,3.239.030.000,188.071.000,92.519.000
851,>>>>>>> 1f984824cd6e9ac230aabc243df2e6ed893a5d46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.tail(16)
    
# Calculando os retonos diários
df = round(df.pct_change() * 100, 2)

# Apagando os valores nulos
df.dropna(inplace=True)

# Reset do index
df.reset_index(inplace=True)
df.rename(columns={'index':'Date'}, inplace=True)

# Dias
dias = df.shape[0]

In [8]:
# Coletando os valores da coluna que era index (Data)
lista_date = pd.DataFrame(df['Date'])
print(lista_date.head())

         Date
0  2022-12-07
1  2022-12-08
2  2022-12-09
3  2022-12-12
4  2022-12-13

In [9]:
lista_date['Date'] = pd.to_datetime(lista_date['Date'])
print(lista_date.dtypes)
lista_date['Date2'] = lista_date['Date'].dt.date
lista_date2 = list(lista_date['Date2'])

Date    datetime64[ns]
dtype: object

In [10]:
# Apagando a coluna 'Date' do DataFrame
df.drop(['Date'], axis=1, inplace=True)

# Fazendo a transposição linhas para colunas | colunas para linhas
df = df.T

# Criando uma nova 'variável' coluna com os retornos acumulados
df['Total_Acumulado'] = round(df.sum(axis=1), 2)

In [11]:
# Renomeando as colunas
j = 0
for i in df.columns[:dias]:
    df.rename(columns={i: f'{lista_date2[j]}'}, inplace=True)
    j = j + 1

# Ordenando pelo maior retorno
df.sort_values(by='Total_Acumulado', ascending=False)

# Criando um DataFrame só com o Total acumulado de 10 dias
df_filter = pd.DataFrame(df['Total_Acumulado'])

# Reset do Index
df_filter.reset_index(inplace=True)

# Renomeando coluna 'index' -> 'Ação
df_filter.rename(columns={'index': 'Papel'}, inplace=True)

In [12]:
df_filter

   Papel  Total_Acumulado
0  AALR3             7.10
1  ABCB4            -0.62
2  ABEV3            -4.77
3  ADHM3             0.00
4  AERI3           -16.96
5  AESB3            -3.69
6  AFLT3             1.07