In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../Api/retornos/cotacoes.csv', sep=';')
df

AttributeError: 'DataFrame' object has no attribute 'display'

In [3]:
df = df.tail(16)
    
# Calculando os retonos diários
df = round(df.pct_change() * 100, 2)

# Apagando os valores nulos
df.dropna(inplace=True)

# Reset do index
df.reset_index(inplace=True)
df.rename(columns={'index':'Date'}, inplace=True)

# Dias
dias = df.shape[0]

In [8]:
# Coletando os valores da coluna que era index (Data)
lista_date = pd.DataFrame(df['Date'])
print(lista_date.head())

         Date
0  2022-12-07
1  2022-12-08
2  2022-12-09
3  2022-12-12
4  2022-12-13

In [9]:
lista_date['Date'] = pd.to_datetime(lista_date['Date'])
print(lista_date.dtypes)
lista_date['Date2'] = lista_date['Date'].dt.date
lista_date2 = list(lista_date['Date2'])

Date    datetime64[ns]
dtype: object

In [10]:
# Apagando a coluna 'Date' do DataFrame
df.drop(['Date'], axis=1, inplace=True)

# Fazendo a transposição linhas para colunas | colunas para linhas
df = df.T

# Criando uma nova 'variável' coluna com os retornos acumulados
df['Total_Acumulado'] = round(df.sum(axis=1), 2)

In [11]:
# Renomeando as colunas
j = 0
for i in df.columns[:dias]:
    df.rename(columns={i: f'{lista_date2[j]}'}, inplace=True)
    j = j + 1

# Ordenando pelo maior retorno
df.sort_values(by='Total_Acumulado', ascending=False)

# Criando um DataFrame só com o Total acumulado de 10 dias
df_filter = pd.DataFrame(df['Total_Acumulado'])

# Reset do Index
df_filter.reset_index(inplace=True)

# Renomeando coluna 'index' -> 'Ação
df_filter.rename(columns={'index': 'Papel'}, inplace=True)

In [12]:
df_filter

   Papel  Total_Acumulado
0  AALR3             7.10
1  ABCB4            -0.62
2  ABEV3            -4.77
3  ADHM3             0.00
4  AERI3           -16.96
5  AESB3            -3.69
6  AFLT3             1.07